# Environments
.venv/
venv/
env/
ENV/
.ENV/

# VSCode-Einstellungen
.vscode/

# Python Cache und kompilierte Dateien
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# MacOS
.DS_Store

# Windows/Pycharm
.idea/

# Other
Modulbeschreibung.md
Project_Pitch.md